body {
    margin: 0;
    padding-top: 140px;
    border: none;
    height: 100%;   
    font-family: Helvetica, 'Times New Roman', 'Comic Sans MS', sans-serif;
    z-index: 101;
}

a {
    color: var(--main-blue);
    margin-left: 3px;
}

#table-header-second {
    height: 40px;
    width: 34%;
    float: right;
}
#table-header-second td {
    font-size: 23px;
    text-align: center;
    padding-bottom: 12px;
}
#table-header-second td a {
    color: black;
    text-decoration: none;
    transition: .3s;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    border-radius: 3px;
}
#table-header-second td a:hover {
    border-bottom: 3px solid var(--main-black);
}

.fa-buffer {
    height: 60px;
    width: 60px;
    color: var(--main-black);
    margin-top: 15px;
    margin-left: 15%;
    float: left;
}
/** Card ######################################################### */
#main-content {
    padding-left: 12%;
    padding-right: 10%;
    margin-top: 120px;
}

.card-main-left  {
    width: 90%;
    float: left;
    min-height: 220px;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 5%;
    margin-right: 5%;
    border-bottom: 2px solid var(--main-black);
}
.card-title {
    float: left;
    width: 85%;
    margin-left: 4%;
    margin-top: 18px;
    border-bottom: 1px solid black;
}
.card-desc, .card-content {
    width: 80%;
    float: left;
}
.card-desc {
    margin-left: 5%;
    min-height: 20px;
    float: left;
    margin-top: -14px;
}
.card-content {
    min-height: 40px;
    float: left;
}
.card-metrique {
    float: left;
    width: 40%;
    margin-left: 8%;
    margin-right: 3%;
}
.card-link {
    float: right;
    width: 40%;
    text-align: right;
    margin-right: 8%;
}

.tag-content {
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2%;
    min-height: 0;
    background: none;
}

.tag-content h5 {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    color: var(--white);
    font-size: 0.7em;
    font-family: "Ubuntu", Helvetica, "Comic Sans MS", sans-serif;
}

#addTagArea h5 {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    color: var(--white);
    font-size: 0.7em;
    font-family: "Ubuntu", Helvetica, "Comic Sans MS", sans-serif;
}
#addTagArea {
    min-height: 30px;
    width: 60%;
    border: 1px solid var(--main-black);
    margin-left: 20%;
    float: left;
    margin-top: 16px;
    padding: 1%;
}
#addTagArea h5 button {
    border: none;
    background: none;
    margin-left: 2px;
    outline: none;
    cursor: pointer;
}
#last-card {
    margin-bottom: 60px;
}
/** ############################################################## */
.display-add-card {
    cursor: pointer;
}
#header-title {
    margin-left: 12%;
    margin-top: .4em;
    padding: 0;
    float: left;
    font-size: 3.5em;
    font-family: "Ubuntu", Helvetica, "Comic Sans MS", sans-serif;
}

.add-card-content-hidden {
    width: 800px;
    height: 600px;
    background: var(--grey-bg);
    position: fixed;
    left: -900px;
    top: 60px;
    z-index: 100001;
    transition: .2s;
    border-radius: 8px;
    border: 2px solid var(--grey-border);
}
.add-card-content-display {
    width: 800px;
    height: 600px;
    background: var(--grey-bg);
    position: fixed;
    left: 5%;
    top: 60px;
    z-index: 100001;
    transition: .2s;
    border-radius: 8px;
    border: 2px solid var(--grey-border);
}
#form #icon {
    float: right;
    border: none;
    outline: none;
    margin-right: 5px;
    margin-top: 8px;
    cursor: pointer;
}
#form {
    width: 96%;
    height: 96%;
    margin: 2%;
}
#form .labFirst {
    width: 100%;
    float: left;
}
#form #inputTitle, #form #inputDesc, #form #inputContent, #form #inputMetrique {
    width: 95%;
    float: left;
    resize: none;
    margin-right: 5%;
}
#form .labSecond {
    float: left;
    margin-top: -15px;
    margin-right: 5px;
}
#form .labFirst {
    margin-top: 5px;
}
#form #inputTitle {
    height: 15px;
}
#form #inputDesc {
    height: 30px;
}
#form #inputContent {
    height: 90px;
}
#form #inputMetrique {
    height: 15px;
    width: 10%;
    margin-right: 10%;
}
#form #labelMetrique {
    margin-top: 10px;
}

#form #inputTag {
    width: 120px;
    height: 30px;
    resize: none;
    float: left;
    margin-top: -15px;
}
#form .addTag {
    float: left;
    margin-top: -5px;
    margin-left: 3px;
}
#form .addTag:hover {
    text-decoration: underline;
    cursor: pointer;
}
.submit-button-add, .submit-button-modify {
    float: right;
    width: 160px;
    height: 35px;
    background: var(--main-black);
    color: var(--white);
    border-radius: 5px;
}
.submit-button-add {
    margin-top: 20%;
}
.submit-button-modify {
    margin-top: 8%;
    margin-right: 46%;
    margin-bottom: 120px;
}
#form textarea {
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
}
.fa-arrow-circle-left {
    color: var(--main-black);
    margin-left: 5%;
    border-radius: 50%;
    z-index: 1;
    transition: .3s;
}
.fa-arrow-circle-left:hover {
    color: var(--main-blue);
    animation-name: animate-buttonGoBack;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
#modify-content {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 6%;
}
#select-add {
    float: left;
    margin-top: -15px;
    margin-left: 8px;
    height: 36px;
}
.hidden-input {
    position: absolute;
    left: -900px;
    opacity: 0;
}

/**  Animation  */
@keyframes animate-buttonGoBack {
    0% {
        transform: translate(0, 0);
    }
    30% {
        transform: translate(-20px, 0);
    }
    60% {
        transform: translate(0, 0);
    }
}
#divInfoPage {
    width: 100%;
    margin-bottom: 10%;
}
#divInfoPage h2 {
    text-align: center;
    margin-bottom: 5%;
    font-size: 2.5em;
}
#divInfoPage h3 {
    text-align: center;
    font-size: 1.5em;
}
#divInfoPage p {
    text-align:  center;
    font-size: 1.1em;
}
#divInfoPage p a {
    color: var(--main-black)
}
#divSearch {
    width: 40px;
    position: absolute;
    margin-left: 20%;
    float: left;
    transition-duration: .2s;
    background: var(--main-grey);
    border-radius: 20px;
}
#divSearch button {
    background: var(--main-black);
    border: none;
    border-radius: 50%;
    color: var(--white);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    float: right;
}
#divSearch input {
    float: left;
    position: absolute;
    width: 0;
    border: none;
    margin: 0;
    outline: none;
    transition: .2s;
    background: none;
    margin-top: 11px;
    margin-left: 8px;
    font-size: 16px;
    color: var(--white)
}
#divSearch:hover {
    width: 180px;
}
#divSearch:hover > input {
    width: 120px;
}
#link-accueil {
    position: absolute;
    margin-left: 45%;
    margin-top: 3%;
    font-size: 20px;
}
#link-accueil a {
    color: var(--main-black);
}
.hidden-param {
    opacity: 0;
    position: absolute;
    margin-left: -900px;
}
#order-content {
    position: absolute;
    left: 35%;
}
#order-content button {
    font-size: 18px;
    margin-top: 6px;
    outline: none;
    cursor: pointer;
}
#inactive-order {
    border-radius: 5px;
    background: none;
    border: 1px solid var(--main-black);
    transition: .5s;
}
#inactive-order:hover {
    background: var(--grey-bg)
}
#active-order {
    background: var(--main-black);
    color: var(--white);
    border-radius: 5px;
    border: 1px solid var(--main-black);
}