<form action="/add" method="post">
    <label class="labFirst">Titre</label>
    <textarea type="text" name="title" id="inputTitle" cols="1"></textarea>
    <label class="labFirst">Description</label>
    <textarea type="text" name="desc" id="inputDesc" cols="2"></textarea>
    <label class="labFirst">Contenu</label>
    <textarea type="text" name="content" id="inputContent" cols="4"></textarea>
    <label class="labFirst" id="labelMetrique">Métrique (1-255  )</label>
    <textarea type="number" name="metrique" id="inputMetrique" cols="1"></textarea>
    <label class="labSecond">Tag(s)</label>
    <textarea name="tagName" id="inputTag"></textarea><button id="addTag">Ajouter Tag</button>
    <div id="addTagArea"></div>
    <button oneclick="" type="submit" id="addCard">Ajouter Carte</button>
</form>