<form action="/add" method="post">
    <label class="labFirst">Titre</label>
    <textarea type="text" name="title" id="inputTitle" cols="1"></textarea>
    <label class="labFirst">Description</label>
    <textarea type="text" name="desc" id="inputDesc" cols="2"></textarea>
    <label class="labFirst">Contenu</label>
    <textarea type="text" name="content" id="inputContent" cols="4"></textarea>
    <label class="labFirst" id="labelMetrique">Métrique (1-255  )</label>
    <textarea type="number" name="metrique" id="inputMetrique" cols="1"></textarea>
    <label class="labSecond">Tag(s)</label>
    <textarea name="tagName" id="inputTag"></textarea>
    <select id="select-add">
        <option name="tagColor" value="222.51.72">Rouge</option>
        <option name="tagColor" value="81.16.232">Bleu</option>
        <option name="tagColor" value="81.185.29">Vert</option>
        <option name="tagColor" value="234.196.29">Jaune</option>
        <option name="tagColor" value="180.53.196">Violet</option>
        <option name="tagColor" value="38.38.38">Noir</option>
        <option name="tagColor" value="255.90.81">Orange</option>
        <option name="tagColor" value="124.64.27">Brun</option>
    </select>
    <button type="button" class="addTag" onclick="addTag()">Ajouter Tag</button>
    <div id="addTagArea"></div>
    <input type="text" name="json_tags" id="json_tags" class="hidden-input">
    <button type="submit" class="submit-button-add">Ajouter Carte</button>
</form>