<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>Main</title>

        <link rel="stylesheet" type="text/css" href="css/footer.css">
        <link rel="stylesheet" type="text/css" href="css/header.css">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link rel="stylesheet" type="text/css" href="css/var.css">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    </head>
    <body>
        <% include ../models/header %>

        <!-- Content -->
        <table id="table-header-second">
            <td><td><a href="http://localhost:8081/index">Accueil</a></td><td><a href="http://localhost:8081/register">S'enregistrer</a></td></td>
        </table>
        
        

        <% include ../models/footer %>
    </body>
</html>