<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>Main</title>

        <link rel="stylesheet" type="text/css" href="footer.css">
        <link rel="stylesheet" type="text/css" href="header.css">
        <link rel="stylesheet" type="text/css" href="main.css">
        <link rel="stylesheet" type="text/css" href="var.css">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">

    </head>
    <body>
        <% include ../models/header %>
            
        <div id="divInfoPage">
            <h2><%= message %></h2>
            <h3>Vous allez être redirigé à l'acceuil dans <span id="time-beforeRedirect">5</span>sec</h3>
            <p>Vous pouvez revenir à <a href="index">Acceuil</a></p>
        </div>

        <% include ../models/footer %>

        <script type="text/javascript" src="redirect.index.js"></script>
        <script type="text/javascript" src="update-timer.js"></script>
    </body>
</html>