<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>Main</title>

        <link rel="stylesheet" type="text/css" href="css/footer.css">
        <link rel="stylesheet" type="text/css" href="css/header.css">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link rel="stylesheet" type="text/css" href="css/var.css">

    </head>
    <body>
        <% include ../models/header %>

        <!-- Content -->
        <h1>Bonsoir!</h1>

        <% include ../models/footer %>
    </body>
</html>